__pycache__/
.venv
.env
.env.docker
documents/self-description.odt
documents/descricao.odt
documents/example.backup.pdf
.pytest_cache
persistence/
.vscode

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars
crash.log
crash.*.log